<html>

<body>

    
    <form action = "/addCustomer" method="POST" >
         Task Name <br>
        <input type = "Text" name = "TaskName"/><br>
         Task Due <br>
        <input type = "Text" name = "DueDate"/> <br>
         Task Desc <br>
        <input type = "Text" name = "TaskDesc"/> <br>
         <button>Submit
         </button><br>
         <a href="/">Home</a><br> 
    </form>
    <style>
            body{
          background-color: #ffa500 ;
            }
        </style>




</body>
</html>