<html>
<body>
    <table>
        <tr>
            <th>
                TASK
            </th>
            <th>
                TASK DUE 
            </th>
            <th>
                TASK DESC
            </th>
        </tr>
       
        <% for(let i = 0; i < customers.lenght; i++){ %>
            <tr > 
                <td>
                    <%= db[i].TaskName %>
                </td>
                <td>
                    <%= db[i].DueDate %> 
                </td>
                <td> 
                    <% = db[i].TaskDesc %>
                </td>
            </tr>
        <% } %> 

    </table>

</body>


</html>