<html>
<body>
        <style>
                table, th, td {
                  border: 1px solid black;
                }
                </style>
    <table style="width:100%">
        <tr>
            <th>
                TASK
            </th>
            <th>
                TASK DUE 
            </th>
            <th>
                TASK DESC
            </th>
        </tr>
       
        <% for(let i = 0; i < db.length; i++){ %>
            <tr > 
                <td>
                    <%= db[i].TaskName %>
                </td>
                <td>
                    <%= db[i].DueDate %> 
                </td>
                <td> 
                    <%= db[i].TaskDesc %>
                </td>
            </tr>
        <% } %> 

    </table>
    <style>
            body{
          background-color: #ffa500 ;
            }
        </style>
</body>


</html>